:root {
  --color1: #dbd3d8;
  --primary: #2e5e4e;
  --color2: #93a7aa;
  --color3: #a7b5b9;
  --color4: #585651;
  --color5: #333333;
  --color6: #eab16a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background: linear-gradient(to top right, #333333, #2b1b03);
  color: white;
  min-height: 2500px;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--color6);
}

.navbar .navbar-nav a {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 1.4rem;
  margin: 0.5rem 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--color6);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--color6);
  transform: scaleX(0);
  transition: 0.1s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--color6);
}

/* Hero section */
.hero {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.hero .img-container img {
  width: 45%;
  border: solid 2px black;
  margin-left: 4em;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 10px 5px rgba(150, 83, 2, 0.8);
}

.hero .img-container img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px 10px rgba(234, 177, 106, 0.8);
}

/* Tyiping text */
.typing-container {
  font-family: "Poppins" sans-serif;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  width: 20px;
  border-right: 2px solid var(--color6);
  animation: typing 4s steps(15) infinite, blink 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink {
  from {
    border-right-color: var(--color6);
  }
  to {
    border-right-color: transparent;
  }
}

.content {
  max-width: 70%;
  padding-right: 120px;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3em;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--color6);
}

.hero .content p {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 17px;
  transition: 0.5s ease-in-out;
  background-color: var(--color6);
  border-radius: 7%;
}

.hero .content .cta:hover {
  background-color: #ad783c;
  object-fit: cover;
  box-shadow: 0 0 0 5px 5px rgba(104, 77, 44, 0.8);
}

/* Halaman About start*/
.about {
  background: var(--color5);
  height: 100vh;
  margin: 0%;
  padding: 0%;
  display: block;
  box-sizing: border-box;
}

.about h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 3rem;
}

.about .a-hero img {
  width: 20%;
  margin: 100px;
  margin-top: 5%;
  filter: saturate(0%);
  border-radius: 50%;
  transition: 0.5s all ease-in-out;
  box-shadow: 0 0 0 10px 5px rgba(150, 83, 2, 0.8);
  border: solid var(--color6);
}

.about .a-hero img:hover {
  filter: saturate(100%);
  transform: scale(1.1);
  box-shadow: 0 0 20px 10px rgba(234, 177, 106, 0.8);
}

/* Card */
.about .container-about {
  padding: 20px;
  align-content: center;
  text-align: center;
  width: 80%;
  margin-left: 35em;
  margin-top: -30em;
}

.about .container-about img {
  width: 70px;
  height: 70px;
}

.card-1-about,
.card-2-about {
  width: 23em;
  border-radius: 10px;
  padding: 10px;
  margin: 40px;
  float: left;
}

.card-1-about {
  color: var(--color6);
  border: solid var(--color6);
  filter: saturate(0%);
  transition: all ease-in-out 0.5s;
}
.card-1-about:hover {
  filter: saturate(100%);
  scale: 1.1;
}
.card-2-about {
  color: var(--color6);
  border: solid var(--color6);
  filter: saturate(0%);
  transition: all ease-in-out 0.5s;
}
.card-2-about:hover {
  filter: saturate(100%);
  scale: 1.1;
}
/* paragraph */
.container-about-2 {
  margin-left: 30em;
  margin-top: 5px;
  font-size: 1.3rem;
}

.p-about {
  color: white;
}
.p-about button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: rgb(114, 171, 1);
  margin-top: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}
.p-about button:hover {
  color: darkgoldenrod;
}

/* Halaman About end*/

/* Halaman Project start*/
#project {
  width: 100%;
  height: 120vh;
  background: var(--color5);
}

.container2 .ex-pj {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 100px;
}
/* Experience start */
.container2 .container-ex {
  align-content: center;
  text-align: center;
  border: solid gray;
  margin-top: 5em;
  width: 38%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  margin-left: 5em;
}

.container-ex h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 2.3em;
}

.card-1-ex,
.card-2-ex,
.card-3-ex,
.card-4-ex,
.card-5-ex,
.card-6-ex {
  margin: 10px;
  width: 10em;
  height: auto;
  padding: px;
  float: left;
  margin-left: 80px;
  border-radius: 10px;
  color: var(--color6);
  filter: saturate(0%);
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.card-1-ex:hover {
  filter: saturate(100%);
  scale: 1.2;
}
.card-2-ex:hover {
  filter: saturate(100%);
  scale: 1.2;
}
.card-3-ex:hover {
  filter: saturate(100%);
  scale: 1.2;
}
.card-4-ex:hover {
  filter: saturate(100%);
  scale: 1.2;
}
.card-5-ex:hover {
  filter: saturate(100%);
  scale: 1.2;
}
.card-6-ex:hover {
  filter: saturate(100%);
  scale: 1.2;
}

.container-ex img {
  height: 50px;
  height: 50px;
}
/* Experience end */
/* Project start */
.container2 .container-pj {
  align-content: center;
  display: block;
  width: 60%;
  height: 35%;
  margin-top: -32em;
  margin-left: 50em;
}

.container2 .container-pj img {
  width: 100%;
  height: 100px;
}

.card-1-pj,
.card-2-pj,
.card-3-pj,
.card-4-pj {
  float: left;
  width: 30%;
  height: auto;
  margin: 30px;
  border: 3px solid gray;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.card-1-pj h2 {
  margin: 5px;
  color: rgb(171, 171, 171);
}
.card-1-pj p {
  margin: 5px;
  font-size: 0.8rem;
  color: rgb(171, 171, 171);
}
.card-1-pj button {
  background-color: rgba(0, 0, 0, 0);
  color: gray;
  padding: 5px;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
}
.card-1-pj button:hover {
  color: darkgoldenrod;
}
/*  */
.card-2-pj h2 {
  margin: 5px;
  color: rgb(171, 171, 171);
}
.card-2-pj p {
  margin: 5px;
  font-size: 0.8rem;
  color: rgb(171, 171, 171);
}
.card-2-pj button {
  background-color: rgba(0, 0, 0, 0);
  color: gray;
  padding: 5px;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
}
.card-2-pj button:hover {
  color: darkgoldenrod;
}
/*  */
.card-3-pj h2 {
  margin: 5px;
  color: rgb(171, 171, 171);
}
.card-3-pj p {
  margin: 5px;
  font-size: 0.8rem;
  color: rgb(171, 171, 171);
}
.card-3-pj button {
  background-color: rgba(0, 0, 0, 0);
  color: gray;
  padding: 5px;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
}
.card-3-pj button:hover {
  color: darkgoldenrod;
}
/*  */
.card-4-pj h2 {
  margin: 5px;
  color: rgb(171, 171, 171);
}
.card-4-pj p {
  margin: 5px;
  font-size: 0.8rem;
  color: rgb(171, 171, 171);
}
.card-4-pj button {
  background-color: rgba(0, 0, 0, 0);
  color: gray;
  padding: 5px;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
}
.card-4-pj button:hover {
  color: darkgoldenrod;
}
/* Project end */
/* Halaman Project end*/

/* Halaman Contact start */
#contact {
  height: 100vh;
}

.h1-contact {
  text-align: center;
  font-size: 3rem;
  padding-top: 5em;
}
/* Halaman Contact end */

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--color5);
    width: 30rem;
    height: 100vh;
    transition: 0.7s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #000000;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/* Handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .hero .img-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid 2px black;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 10px 5px rgba(150, 83, 2, 0.8);
  }
  .about .a-hero img {
    width: 20%;
    margin: 100px;
    margin-top: 5%;
    filter: saturate(0%);
    border-radius: 50%;
    transition: 0.5s all ease-in-out;
    box-shadow: 0 0 0 10px 5px rgba(150, 83, 2, 0.8);
    border: solid var(--color6);
  }
}
